# gitignore for Grathium Industries
# NeonX2.0

.vscode/
node_modules/
NeonX/sys/__pycache__/

NeonX/sys/dist/
applications/Calender/script.js
applications/Notepad/script.js
applications/PDF Viewer/script.js
