@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");
html, body {
  margin: 0;
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.explorer {
  display: -webkit-box;
  display: flex;
  background: white;
  border-radius: 7px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: 0 0px 55px 6px rgba(0, 0, 0, 0.18);
}
.explorer .left {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.explorer .left .blurred {
  position: absolute;
  width: 110%;
  height: 110%;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1;
  margin: -5px -10px -10px -5px;
}
.explorer .left .top {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 65, 102, 0.95)), color-stop(rgba(64, 56, 89, 0.9)), to(rgba(77, 65, 102, 0.93)));
  background: linear-gradient(rgba(77, 65, 102, 0.95), rgba(64, 56, 89, 0.9), rgba(77, 65, 102, 0.93));
}
.explorer .left .top .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  padding-left: 2vh;
  padding-top: 1vh;
}
.explorer .left .top .navigation .lab {
  position: relative;
  display: inline-block;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 6%;
  text-align: center;
}
.explorer .left .top .navigation .lab:active {
  background: rgba(255, 255, 255, 0.05);
}
.explorer .left .top .navigation .lab .material-icons {
  font-size: 2vh;
  line-height: 3vh;
  color: rgba(255, 255, 255, 0.9);
}
.explorer .left .top .folders {
  margin-top: 5vh;
  width: 100%;
  height: 82%;
}
.explorer .left .top .folders ul {
  font-weight: 300;
  list-style: none;
  padding: 2vh;
}
.explorer .left .top .folders ul li {
  color: white;
  font-size: 1.6vh;
  padding: 1vh 0.5vh;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.explorer .left .top .folders ul li .lab-accor {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.explorer .left .top .folders ul li .lab-accor .arrow-accor {
  position: absolute;
  right: 1.5vh;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.explorer .left .top .folders ul li .material-icons {
  font-size: 2vh;
  padding-right: 2.7vh;
}
.explorer .left .top .folders ul li:hover {
  background: rgba(255, 255, 255, 0.07);
}
.explorer .left .top .folders ul ul {
  height: 0px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  padding: 0.5vh 4vh;
  overflow: hidden;
}
.explorer .left .top .folders ul ul .active {
  color: #00B1FF;
  font-weight: 500;
}
.explorer .left .top .folders ul ul .active:after {
  content: '';
  display: inline-block;
  background: #00B1FF;
  width: 0.2vh;
  height: 1.7vh;
  float: left;
  margin-left: -3vh;
  margin-top: 0.1vh;
}
.explorer .left .top .folder-info {
  position: relative;
  width: 100%;
  height: calc(18% - 5vh);
}
.explorer .left .top .folder-info .foldercap {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 1vh;
}
.explorer .left .top .folder-info .foldercap span {
  color: white;
  font-weight: 300;
  font-size: 1.4vh;
}
.explorer .left .top .folder-info .foldercap .left-si {
  position: absolute;
  left: 0;
}
.explorer .left .top .folder-info .foldercap .right-si {
  position: absolute;
  right: 0;
}
.explorer .left .top .folder-info .full-container {
  position: absolute;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 6px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.09);
  overflow: hidden;
}
.explorer .left .top .folder-info .full-container .full-stat {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  background: #00B1FF;
  -webkit-animation: bounce 1s forwards 0.2s ease-in-out;
          animation: bounce 1s forwards 0.2s ease-in-out;
}
.explorer .explorer-space {
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}
.explorer .explorer-space .status {
  position: relative;
  width: 100%;
  height: 7%;
  padding-left: 1vh;
}
.explorer .explorer-space .status .tab {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 1.1vh;
  padding-right: 1.8vh;
  font-size: 1.8vh;
  font-weight: 400;
  color: #999;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.explorer .explorer-space .status .tab i {
  margin-right: 1.3vh;
  font-size: 2.5vh;
  display: -webkit-inline-box;
  display: inline-flex;
  vertical-align: middle;
}
.explorer .explorer-space .status .tab .closetab {
  color: #ccc;
  font-size: 2vh;
  margin-right: 0;
  margin-left: 2vh;
}
.explorer .explorer-space .status .active {
  color: #00B1FF;
  font-weight: 500;
}
.explorer .explorer-space .status .add-tab {
  display: -webkit-inline-box;
  display: inline-flex;
  vertical-align: middle;
}
.explorer .explorer-space .status .add-tab i {
  color: #ccc;
  font-size: 1.7vh;
}
.explorer .explorer-space .status .bar-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2vh 1.5vh;
}
.explorer .explorer-space .status .bar-button .resize {
  font-size: 1.5vh;
}
.explorer .explorer-space .status .bar-button i {
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 1.7vh;
  font-weight: 500;
  color: #999;
  cursor: pointer;
}
.explorer .explorer-space .status .bar-button .close-icon:hover {
  color: #ff4d4d;
}
.explorer .explorer-space .barpath {
  position: relative;
  width: 100%;
  height: 6%;
  margin: 1vh 0;
}
.explorer .explorer-space .barpath .bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 93%;
  height: 75%;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding-left: 2vh;
  padding-bottom: 0.5vh;
  box-sizing: border-box;
  cursor: text;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.explorer .explorer-space .barpath .bar:hover {
  background: rgba(0, 0, 20, 0.1);
}
.explorer .explorer-space .barpath .bar span {
  color: #888;
  font-size: 1.4vh;
  white-space: pre-wrap;
}
.explorer .explorer-space .barpath .bar span .material-icons {
  position: relative;
  top: 0.4vh;
  font-size: 1.8vh;
  padding-right: 1vh;
}
.explorer .explorer-space .toolbar {
  position: relative;
  width: 100%;
  height: 6%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.explorer .explorer-space .toolbar ul {
  list-style: none;
  display: table;
  margin: 0;
}
.explorer .explorer-space .toolbar ul li {
  display: inline-block;
  height: 100%;
  color: #777;
  margin: 0 1.4vh;
  font-size: 1.6vh;
  cursor: pointer;
}
.explorer .explorer-space .toolbar .views {
  padding: 0 1vh;
  height: 100%;
  border-spacing: 2.4vh 0;
}
.explorer .explorer-space .toolbar .views li {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.7vh;
}
.explorer .explorer-space .toolbar .views li:hover {
  font-weight: 500;
}
.explorer .explorer-space .toolbar .views .active {
  color: #00B1FF;
  font-weight: 500;
  box-sizing: border-box;
  border-bottom: 3px solid #00B1FF;
}
.explorer .explorer-space .toolbar .tools {
  position: absolute;
  top: 0;
  right: 0;
}
.explorer .explorer-space .toolbar .tools .separator {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 1.5vh;
  margin-right: 0;
}
.explorer .explorer-space .toolbar .tools li i {
  padding-top: 1vh;
  font-size: 1.8vh;
}
.explorer .explorer-space .file-space {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding-left: 2vh;
  padding-top: 2vh;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 80%;
}
.explorer .explorer-space .file-space .folder-icon {
  position: relative;
  float: left;
  width: 6vh;
  height: auto;
  margin-right: 2vh;
  margin-bottom: 1vh;
  border-radius: 4px;
  text-align: center;
  cursor: default;
}
.explorer .explorer-space .file-space .folder-icon:hover {
  background: rgba(0, 177, 255, 0.1);
}
.explorer .explorer-space .file-space .folder-icon i {
  color: #ffbf00;
  font-size: 4vh;
  display: block;
}
.explorer .explorer-space .file-space .folder-icon span {
  font-size: 1.4vh;
  color: #333;
  word-wrap: break-word;
}
.explorer .explorer-space .bottominfo {
  width: 100%;
  height: 8vh;
  position: absolute;
  bottom: 0;
  background: #EEE;
}

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

#pc:checked ~ ul .level-2 {
  height: 17vh;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
#pc:checked ~ ul .arrow-accor {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#selettore {
  z-index: 100;
  background: #00B1FF;
  border: 1px solid white;
  opacity: 0.7;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

@-webkit-keyframes bounce {
  0% {
    width: 0%;
  }
  30% {
    width: 80%;
  }
  60% {
    width: 40%;
  }
  100% {
    width: 50%;
  }
}

@keyframes bounce {
  0% {
    width: 0%;
  }
  30% {
    width: 80%;
  }
  60% {
    width: 40%;
  }
  100% {
    width: 50%;
  }
}
