$baseColor: #000;
$keyColor: white;
$accentColor: var(--accent-color);

:root {
  --accent-color: #00bbff;
}

/* DESKTOP */
.desktopItem {
  display: inline-block;
  position: static;
  margin-right: 4px;
  text-align: center;
  width: 68px;
  height: 82px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-style: normal;
  color: $keyColor;
  transition: all 100ms;
  text-align: center;
  margin-top: 4px;
  border-width: thin;

  &:hover {
    background-color: rgba(120, 144, 156, 0.15);
  }
}

.desktopItemIcon {
  position: relative;
  height: 56px;
  width: 56px;
}

img.icons {
  position: relative;
  height: 38px;
  width: 38px;
  top: 2.5px;
}

.waitingInput {
  position: relative;
  width: 42px;
  color: white;
  font-size: 12px;
  left: -2px;
  border-style: none;
  background-color: transparent;
}

#editDesktopButton {
  position: absolute;
  right: 5px;
  top: 2.5px;
  font-size: 22px;
  color: $keyColor;

  &:hover {
    color: $accentColor;
  }
}

#superButton {
  display: block;
  font-size: 30px;
}

.contextMenu {
  position: absolute;
  background-color: #f9f9f9;
  color: #282c34;
  font-size: 20px;
  padding: 8px;
  width: 200px;
  border-style: outset;
  border-width: thin;
  border-color: $keyColor;
  animation: fadein 0.45s;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: grayscale(0.1) drop-shadow(8px 8px 10px #21252b);
  opacity: 0.95;
  z-index: 2;

  li {
    list-style-type: none;
    cursor: pointer;
    
    &:visited {
      color: #282c34;
    }

    &:hover {
      position: relative;
      background-color: #eee;
      border-left: groove medium $accentColor;
      left: -10px;
      padding-left: 7px;
    }
  }

  #contextMenuTitle {
    font-size: 20px;
  }
}

.cursorHighlight {
  position: absolute;
  background-color: $accentColor;
  border: solid medium $accentColor;
  border-radius: 0.5rem;
  z-index: 1;
  opacity: 0.3;
}

.media {
  display: flex;
}

.media__img,
.media__body {
  flex: 0 1 auto;
}

.media__body {
  padding-left: 10px;
}

.window__titlebar:after {
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.ui-draggable-dragging {
  cursor: move;
}

.desktop {
  @extend .window__titlebar,
  :after;

  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
}

#desktopBG {
  position: fixed;
  // I use both background-image and background-color so that
  // when the background image changes, there isn't a flash of white
  background-color: $baseColor !important;
  background-image: url("../../static/background.png");
  height: 100%;
}

// SUPER KEY MENU
#search__input {
  position: relative;
  top: 15px;
  left: 12px;
  color: $keyColor;
  background-color: $baseColor;
  font-size: large;
  padding: 9px;
  cursor: text;
  opacity: 0.95;
}
