$text-color: #abb2bf;
$background-color: #21252b;
$accent-color: white;

// TODO: fix this hacky solution
* {
  box-sizing: border-box;
}

body {
  background-image: url("../../backgrounds/loginBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.input-group {
  margin-top: 2.5rem;

  & > label {
    user-select: none;
    background: transparent;
    color: $text-color;
    font-size: 24px;
    font-weight: 300;
  }

  & > input {
    outline: none;
    border: none;
    border-bottom: solid thin $text-color;
    background: transparent;
    color: $text-color;
    font-size: 24px;
    font-weight: 300;
  }
}

.login-credentials {
  color: $accent-color;
  font-size: 2rem;

  & > .login-credential {
    display: block;
    content: "";
  }
}

.title {
  position: relative;
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $text-color;
  margin-bottom: 3rem;

  &::before {
    position: absolute;
    width: 5px;
    height: 100%;
    left: -50px;
    background: $text-color;
    content: "";
  }
}

.login-button {
  position: relative;
  width: 60%;
  left: 50%;
  translate: -50%;
  background-color: rgba(transparent, 0.05);
  border: solid thin $text-color;
  color: $text-color;
  margin-top: 3rem;
  height: 4rem;
  cursor: pointer;
}

.container {
  position: absolute;
  width: 100%;
  max-width: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: rgba($background-color, $alpha: 0.9);
  padding: 20px 50px 40px 50px;
  border-radius: 8px;
}
