*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
  cursor: url('./cursor.png'), auto;
}

body {
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  cursor: url('./cursor.png'), auto;
}

/* PROGRAM WINDOWS */
.programWindow {
  position: absolute;
  display: inline;
  text-align: left;
  left: 150px;
  top: 100px;
  opacity: 0.95;
  width: 45%;
  height: 60%;
  color: white;
  /* background-image: linear-gradient(to bottom right, #21252b, #31353b); */ /* DEPRICATED */
  background-color: #202340;
  animation: 0.9s fadein;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: grayscale(0.1) drop-shadow(16px 16px 20px #21252b);
  transform: scale(1);
}

.containerTitle {
  position: absolute;
  color: #abb2bf !important;
  font-size: 18px;
  left: 50%;
  transform: translate(-50%, 2px);
}

.menubar {
  display: inline;
  color: #abb2bf;
  background-color: #202340;
  border-style: none;
  font-size: 20px;
  height: 25px;
  width: 25px;
  top: 0px;
}

.menubar:hover {
  background-color: #31353b;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dbe2ef;
}

.viewFrame {
  position: relative;
  height: 99.8%;
  width: 99.8%;
  color: #abb2bf;
  border-style: none;
  overflow: hidden;
}

app:active {
  cursor: move;
}

app {
  border-style: none;
  overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* DESKTOP */
.desktop__item {
  display: inline-block;
  position: static;
  margin-right: 4px;
  text-align: center;
  width: 68px;
  height: 82px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-style: normal;
  color: white;
  transition: all 100ms;
  text-align: center;
  margin-top: 4px;
}
.desktop__item:hover {
  background-color: rgba(120, 144, 156, 0.15);
}
.desktop_icons {
  position: relative;
  height: 56px;
  width: 56px;
}

img.icons {
  position: relative;
  height: 38px;
  width: 38px;
  top: 2.5px;
}

.waitingInput {
  position: relative;
  width: 42px;
  font-size: 12px;
  left: -2px;
  border-style: none;
  background-color: transparent;
}

#editDesktopBTN {
  position: absolute;
  right: 5px;
  top: 2.5px;
  font-size: 22px;
  color: #abb2bf;
}
#editDesktopBTN:hover {
  color: #fffff0;
}

#superButton {
  display: block;
  font-size: 30px;
}

.contextMenu {
  position: absolute;
  background-color: #f9f9f9;
  color: #282c34;
  font-size: 20px;
  padding: 8px;
  border-style: outset;
  border-width: thin;
  border-color: #abb2bf;
  animation: fadein 0.45s;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: grayscale(0.1) drop-shadow(16px 16px 20px #21252b);
  opacity: 0.95;
}
.contextMenu a:visited {
  color: #282c34;
}
.contextMenu a:hover {
  background-color: #eee;
  cursor: pointer;
  border-left-style: groove;
}

.contextMenu#contextMenuTitle {
  font-size: 32px;
}

.media {
  display: flex;
}

.media__img,
.media__body {
  flex: 0 1 auto;
}

.media__body {
  padding-left: 10px;
}

.desktop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
}

.desktop,
.window__titlebar:after {
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
#desktopBG {
  position: fixed;
  background-image: url('');
  height: 100%;
}

/* ALL APPS */
#all-apps {
  position: absolute;
  color: #EFF0F1;
  background: rgba(1, 1, 1, 0.7);
  left: 0px;
  top: -48px;
  width: 100%;
  height: calc(100% - 15px);
  display: flex;
}

#allAppsCloseBTN {
  position: absolute;
  top: 50px;
  left: 10px;
}

.draw__item {
  position: relative;
  padding: 40px;
  height: 150px;
}

/* SIDEBAR */
#appsTray {
  position: relative;
  left: 58px;
  width: 99%;
}

#appsTray > p {
  position: absolute;
  border-right: solid;
  border-top: solid;
  border-right-width: thin;
  border-top-width: medium;
  border-color: #abb2bf;
  bottom: 58px;
  font-size: 18px;
  width: 220px;
  animation: iconFadein 1.2s;
  transition: background-color 200ms cubic-bezier(0.4, 0, 1, 1) 50ms;
}

.appTrayIcon {
  position: relative;
  height: 32px;
  width: 44px;
  top: 8px;
  padding-right: 10px;
  padding-left: 2px;
}

#appsTray > p:hover {
  background-color: #abb2bf;
  color: #21252b;
  border-color: #21252b;
}

@keyframes iconFadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.taskbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
  background-color: #21252b;
  z-index: 129;
  opacity: 0.88;
}

.taskbar__item {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: white;
  border: 1px solid transparent;
  transition: all 100ms;
}
.taskbar__item:hover {
  background-color: rgba(120, 144, 156, 0.15);
}
.taskbar__item > i {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.taskbar__item--active.taskbar__item--explorer {
  background-color: #0097A7;
}
.taskbar__item--active.taskbar__item--mail {
  background-color: #5C6BC0;
}
.taskbar__item--active.taskbar__item--notepad {
  background-color: #EC407A;
}

.taskbar__item--open {
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.35);
}

.taskbar__item--start {
  color: #378fe7;
  transition: background-color 250ms;
}
.taskbar__item--start.start--open {
  color: white;
}

.taskbar__tray {
  position: absolute;
  bottom: -80px;
  color: white;
  padding: 0 10px;
  float: right;
  line-height: 48px;
  width: 100%;
}

.time {
  position: fixed;
  right: 2px;
  bottom: -16px;
  z-index: 999999;
}
.time p{
  font-size: 17px;
  color: #abb2bf;
}
#timeDisplay:hover {
  cursor: pointer;
  color: #fff;
  transition: all 600ms;
}

.start-menu-fade {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}

.start-menu {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 48px;
  padding: 10px;
  height: 85vh;
  min-height: 512px;
  z-index: 9999;
  color: white;
  background-color: #282c34;
}

.start--open {
  background-color: #282c34 !important;
}

/* start menu */
.search__input {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 36px;
  background-color: white;
}
#search__input {
  display: block;
  width: 100%;
  padding: 10px;
  height: 32px;
  border: 0;
  font-size: 12px;
  color: #607D8B;
  background-color: transparent;
  z-index: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.start-menu__list,
.start-screen {
  flex: 0 1 auto;
}

.start-menu__list {
  position: absolute;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}
.start-menu--open .start-menu__list {
  transform: none;
  opacity: 1;
}

.user-info {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  transition: all 100ms, transform 500ms;
}
.user-info:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.start-menu--open .user-info {
  transform: none;
}

.user-info__img {
  display: block;
  width: 40px;
  height: 40px;
}

.user-info__name {
  font-size: 20px;
  font-weight: 200;
  align-self: center;
}

.user-info__power {
  margin-left: auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: white;
}
.user-info__power:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.start-menu__label {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
}

.start-menu__recent {
  overflow: hidden;
  max-height: 65%;
  padding: 0;
  margin: 0;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms 100ms, opacity 1000ms 250ms;
}
.start-menu--open .start-menu__recent {
  transform: none;
  opacity: 1;
}
.start-menu__recent li {
  list-style: none;
}
.start-menu__recent li a {
  display: block;
  padding: 10px;
  color: white;
  transition: all 100ms;
}
.start-menu__recent li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.start-menu__recent li a > i {
  display: inline-block;
  margin-right: 4px;
  font-size: 20px;
  text-align: center;
}

#all-appsBTN {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: block;
  margin-bottom: 10px;
  color: white;
  transition: all 100ms;
}
#all-appsBTN > i {
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid white;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  line-height: 26px;
  text-align: center;
}
#all-appsBTN:hover > i {
  background-color: #37474F;
}

.start-screen-scroll {
  max-height: 85vh;
  min-height: calc(128px * 3 - 8px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: -8px;
  padding: 4px;
  margin-left: 4px;
  transform: translate(-100%, 0);
  transition: transform 500ms, opacity 1000ms;
  opacity: 0;
}
.start-menu--open .start-screen-scroll {
  transform: none;
  opacity: 1;
}

.start-screen {
  position: relative;
  width: 256px;
  word-spacing: -1em;
}
@media screen and (min-width: 700px) {
  .start-screen {
    min-width: 384px;
  }
}
@media screen and (min-width: 800px) {
  .start-screen {
    min-width: 512px;
  }
}
@media screen and (min-width: 960px) {
  .start-screen {
    min-width: 640px;
  }
}

.ui-resizable-se {
  background-image: url("");
}

.menu-toggle {
  position: relative;
}

.menu-toggle--open {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  position: absolute;
  z-index: 10000;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 800ms;
}
.menu:hover {
  background-color: #abb2bf;
}
.menu > a {
  display: block;
  width: 200px;
  padding: 10px 15px;
  font-size: 16px;
  color: #455A64;
  transition: all 100ms;
}
.menu > a:hover {
  background-color: #ECEFF1;
}
